    <br>
    <div class="login-box card">

        <div class="card-body">

            <form class="form-horizontal form-material" 
                    autocomplete="off"
                    [formGroup]="loginForm"
                    (ngSubmit)="login()"
                    id="loginform">

                <a href="javascript:void(0)" class="text-center db"><img style="margin-left: 25px;" src="../assets/images/logo.png" alt="Home" /><br/></a>
                <br>
                <div class="form-group m-t-40">
                    <div class="col-xs-12">
                        <input [(ngModel)]="evaluador.usuario"
                                class="form-control" 
                                type="email" 
                                placeholder="Usuario"
                                formControlName="email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input  [(ngModel)]="evaluador.password"
                                class="form-control" 
                                type="password"
                                placeholder="Password"
                                formControlName="password">
                    </div>
                </div>


                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit" (click)="hacerLogin()">Iniciar Sesión</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 mb-4 text-center" id="google-btn">
                        
                        <div id="my-signin2"></div>

                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        ¿No tienes una cuenta? <a routerLink="/register" class="text-primary m-l-5"><b>Registrar</b></a>
                    </div>
                </div>
            </form>

        </div>
    </div>



