<br>
<div class="login-box card">

    <div class="card-body">

        <!-- <h1 style="color: blueviolet;">facebook</h1> -->
        <a href="javascript:void(0)" class="text-center db"><img style="margin-left: 25px;" src="../assets/images/logo.png" alt="Home" /><br/></a>
        <br>
        <!-- (ngSubmit)="login()" -->
        <form class="form-horizontal form-material"
                (ngSubmit)="login( f )"
                #f="ngForm">

            <div class="form-group m-t-40">
                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>
                <div class="col-xs-12">
                    <input class="form-control"
                            type="text" 
                            name="email" 
                            [(ngModel)]="usuario.email"
                            required
                            email
                            placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">Al menos 6 letras</span>
                <div class="col-xs-12">
                    <input class="form-control" 
                            type="password" 
                            name="password" 
                            [(ngModel)]="usuario.password"
                            required
                            minlength="6"
                            placeholder="Password">
                </div>
            </div>

            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block text-uppercase btn-rounded" type="submit">Iniciar Sesión</button>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 mb-4 text-center" id="google-btn">
                    
                    <div id="my-signin2"></div>

                </div>
            </div> -->
            
            <!-- <div class="form-group m-b-0">
                <div class="col-sm-12 text-center">
                    ¿No tienes una cuenta? <a routerLink="/register" class="text-primary m-l-5"><b>Registrar</b></a>
                </div>
            </div> -->
        </form>

    </div>
    
</div>



