<app-header></app-header><br>

<div class="container" *ngIf="roleUser == 'admin'">

    
    <div class="row">

        
    <h1 class="col-lg-6 text-left"><strong>Lista de administradores</strong></h1>
    
        <div class="col-lg-6 text-right">
            <button routerLink="/usuario/nuevo" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Agregar
        </button>
        </div>
    </div>

    <table *ngIf="!cargando && evaluadores.length > 0" class="table table-striped mt-3 animated fadeIn faster animated fadeIn faster">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Rol</th>
                <th class="text-right" scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
    
            <tr *ngFor="let evaluador of evaluadores; let i = index">
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ evaluador.nombre }}</td>
                <td>{{ evaluador.role }}</td>
                <td class="text-right">
                    <!--  -->
                    <button class="btn btn-info mr-1" [routerLink]="['/usuario', evaluador.id ]">
                    <i class="fa fa-pen"></i>
                    </button>
                    <!--  -->
                    <button class="btn btn-danger" (click)="borrarEvaluador( evaluador, i ) ">
                    <i class="fa fa-trash"></i>
                    </button>

                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!cargando && evaluadores.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">No hay registros</h4>
        <p>
            <i class="fa fa-exclamation fa-2x"></i>
        </p>
    </div>

    <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
        <h4 class="alert-heading">Cargando</h4>
        <p>
            <i class="fa fa-sync-alt fa-spin fa-2x"></i>
        </p>
        <p class="mb-0">
            Espere por favor
        </p>
    </div>

</div>

<div class="row alert alert-warning mt-3 animated fadeIn faster" *ngIf="roleUser == 'evaluador'">
    <div class="col-12 text-center">
        <h1>Usuario no autorizado!!</h1>
        <br>
    </div>
    <div class="col-12 text-center">
        <button routerLink="/inicio" class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>
      Inicio
    </button>
    </div>
</div>