
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">

            <div class="navbar-header">
                <a class="navbar-brand" routerLink="/inicio">
                    <b>
                    <img src="../../../assets/images/logo.png" style="height: 40px;" alt="homepage" class="dark-logo" />
                    <img src="../../../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                    <span>
                        <img src="../../../assets/images/logo-light-text.png" class="light-logo" alt="homepage" />
                    </span>
                </a>
            </div>

            
            <div class="navbar-collapse">

                <ul class="navbar-nav mr-auto">
                    
                </ul>
                <label class="text-info"> {{ userActivo }}</label>
                <ul class="navbar-nav my-lg-0">
                                       
                    <li class="nav-item dropdown">
                        <a  class="nav-link dropdown-toggle waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-stream btn btn-primary"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated fadeIn fast">
                            <ul class="dropdown">

                                <li *ngIf="roleUser != 'evaluador'"><a routerLink="/categorias"> Categorias</a></li>
                                <li *ngIf="roleUser != 'evaluador'"><a routerLink="/criterios"><i class="ti-user"></i> Criterios</a></li>
                                <li *ngIf="roleUser != 'evaluador'"><a routerLink="/areas"><i class="ti-wallet"></i> Areas Temáticas</a></li>
                                <li *ngIf="roleUser != 'evaluador'"><a routerLink="/autores"><i class="ti-email"></i> Autores</a></li>
                                <li *ngIf="roleUser != 'evaluador'"><a routerLink="/evaluadores"><i class="ti-email"></i> Evaluadores</a></li>
                                <li *ngIf="roleUser != 'evaluador'"><a routerLink="/proyectos"><i class="ti-settings"></i> Proyectos</a></li>
                                <li><a routerLink="/calificaciones"><i class="ti-settings"></i> Calificaciones</a></li>
                                <li *ngIf="roleUser != 'evaluador'"><a routerLink="/usuarios"><i class="ti-settings"></i> Administradores</a></li>
                                <li><a routerLink="/inicio">Inicio</a></li>
                                <li> <i class="fa-solid fa-house"></i><a href="" (click)="salir()"> <strong> Cerrar Sesión</strong></a></li>
                                                                
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
