<div class="container">
    <app-header></app-header><br>
    <!-- <h1>Inicio</h1> -->


    <div class="card-columns">

        <div *ngFor="let proyecto of proyectos; let i = index" class="card">

            <div class="card-body">
                <h3 class="card-title"><strong>Autor: {{ proyecto.autor }}</strong></h3>
                <h4 class="card-title">{{ proyecto.titulo }}</h4>
                <h5 >Puntaje adquirido: <strong>{{ proyecto.totalPuntaje }}</strong></h5>
                <div *ngIf="proyecto.estado === false">
                    <p class="btn btn-primary btn-block">Finalizado..</p>
                </div>
                <div *ngIf="proyecto.estado === true">
                    <p class="btn btn-danger btn-block">Pendiente..</p>
                </div>
                <!-- <div>
                    <p class="btn btn-outline-primary btn-block">Más detalle..</p>
                </div> -->

            </div>
        </div>



    </div>

</div>