<br>
<div class="row">
    <div class="col-9">

    </div>
    <!-- <div class="col text-right">
        <label class="col-form-label"><strong>Categoría: </strong></label>
            <select>
                <option selected="true" value="TODO">TODO</option>
                <option *ngFor="let categoria of categorias"
                        [value]="categoria.descripcion">
                        {{ categoria.descripcion }}
                </option>
          </select>

    </div> -->
    <div class="col-3">
        <button id="div-totop" class="btn col-lg-6 btn-danger btn-block cmn-divfloat" (click)="pdfMetodo()">Crear PDF</button>
    </div>

</div>

<h1 class="text-center">Listado de proyectos</h1>

<hr>

<table *ngIf="!cargando && proyectos.length > 0" class="table mt-3 animated fadeIn faster animated fadeIn faster">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Título</th>
            <!-- <th scope="col">Codigo</th> -->
            <th scope="col">Autor</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let proyecto of proyectos; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ proyecto.titulo }}</td>
            <!-- <td>{{ proyecto.codigo }}</td> -->
            <td>{{ proyecto.autor }}</td>
            <td>{{ proyecto.estado }}</td>
            <td class="text-right">
                <!--  -->
                <button class="btn btn-info mr-1" [routerLink]="['/proyecto-pdf', proyecto.id ]">
                <i class="fa fa-eye"></i>
                </button>
                <!--  -->
                <!-- <button class="btn btn-danger" (click)="borrarProyecto( proyecto, i ) ">
                <i class="fa fa-trash"></i>
                </button> -->


            </td>
        </tr>
    </tbody>
</table>


<div *ngIf="!cargando && proyectos.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">No hay registros</h4>
    <p>
        <i class="fa fa-exclamation fa-2x"></i>
    </p>
</div>
<!--  -->
<div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
    <h4 class="alert-heading">Cargando</h4>
    <p>
        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
    </p>
    <p class="mb-0">
        Espere por favor
    </p>
</div>
