<app-header></app-header><br>

<div class="container" *ngIf="roleUser == 'admin'">

    <div class="row">
        <div class="col-lg-8 text-left">
            <h1><strong>Registro de autores</strong></h1>
        </div>
        <div class="col-lg-4 text-right">
            <button class="btn btn-danger" routerLink="/autores">
                <i class="fa fa-arrow-left"></i>
                Regresar
            </button>
        </div>
    </div>
    <hr>

    <div class="row animated fadeIn faster">
        <div class="col">
            <!-- se llama al metodo guardar de disertante.componet.ts -->
            <form [formGroup]="forma" (ngSubmit)="guardar()">
    
                <div class="form-group">
                    <label>ID</label>
                    <input type="text"
                            class="form-control"
                            placeholder="ID"
                            [(ngModel)]="disertante.id"
                            formControlName="id"
                            [attr.disabled]="true">
                    <small class="form-text text-muted">Este campo es autogenerado</small>
                </div>
    
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text"
                            class="form-control"
                            placeholder="Nombre del Autor"
                            [(ngModel)]="disertante.nombre"
                            formControlName="nombre">
                </div>
    
                <div class="form-group">
                    <label>Institución</label>
                    <input type="text"
                            class="form-control"
                            placeholder="Nombre de la Institución"
                            [(ngModel)]="disertante.institucion"
                            formControlName="institucion">
                </div>

                <div class="row">

                    <div class="col-lg-6 form-group">
                        <label class="col-form-label">Área Temática</label>
                        <div class="" placeholder="Seleccione Carrera">
                            <select class="form-control"
                                    [disabled]="carreras.length === 0"
                                    [(ngModel)]="disertante.area"
                                    formControlName="area">
                                <option *ngFor="let carrera of carreras"
                                        [value]="carrera.descripcion">
                                        <!-- [value]="carrera.id"> -->
                                {{ carrera.descripcion }}
                                </option>
                          </select>
        
                        </div>
                    </div>
        
                    <div class="col-lg-6 form-group">
                        <label class="col-form-label">Categoría</label>
                        <div class="" placeholder="Seleccione Categoria">
                            <select class="form-control"
                                    placeholder="Seleccione Categoria"
                                    [disabled]="categorias.length === 0"
                                    [(ngModel)]="disertante.categoria"
                                    formControlName="categoria">
                                <option *ngFor="let categoria of categorias"
                                        [value]="categoria.descripcion">
                                    <!-- [value]="categoria.id"> -->
                                    {{ categoria.descripcion }}
                                </option>
                          </select>
        
                        </div>
                    </div>



                </div>
    
                <!-- <div class="form-group row">
                    <label for="exampleInputEmail3" class="col-sm-3 control-label">Categoria</label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <select class="form-control" formControlName="categoria">
                                <option value="">Seleccione Categoria</option>
                                <option *ngFor="let categoria of categorias"
                                    [value]="categoria._id">
                                    {{ categoria.descripcion }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div> -->
    
                <hr>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary w-25">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </div>
    
            </form>
    
        </div>
    </div>

</div>


<div class="row alert alert-warning mt-3 animated fadeIn faster" *ngIf="roleUser == 'evaluador'">

    <div class="col-12 text-center">
        <h1>Usuario no autorizado!!</h1>
        <br>
    </div>

    <div class="col-12 text-center">
        <button routerLink="/inicio" class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>
      Inicio
    </button>
    </div>
</div>