<app-header></app-header><br>

<div class="container-fluid" *ngIf="roleUser == 'evaluador'">
    
    <div class="row">

        <div class="col-12 text-right">
            <button class="btn btn-danger" routerLink="/proyectos-asignados">
                <i class="fa fa-arrow-left"></i>
                 Regresar
            </button>

            <hr>

        <div class="col-12 text-left">  
            <p><strong>Título: </strong>{{ proyecto.titulo }}</p>
        </div><hr>

        <div class="col-12 text-left">
            <p><strong>Código: </strong>{{ proyecto.codigo }}</p>
        </div><hr>

        <div class="col-12 text-left">
            <p><strong>Autor: </strong>{{ proyecto.autor }}</p>
        </div><hr>

        <div class="col-12 text-left">
            <p><strong>Área: </strong>{{ proyecto.area }}</p>
        </div><hr>

        <div class="col-12 text-left">
            <p><strong>Puntaje: </strong>{{ proyecto.totalPuntaje }}</p>
        </div><hr>

    </div>

    <div class="row animated fadeIn faster">
        <div class="col">
            <!-- se llama al metodo guardar de proyecto.componet.ts -->

            <form (ngSubmit)="guardar( f )" #f="ngForm">

                <div class="text-left">
                    <h5 class="text-center"><strong>Criterios de evaluación</strong></h5>

                    <!-- EVALUADOR 1 -->
                    <!-- <div *ngIf="proyecto.evaluador1.estado == true" class="text-center font-weight-bold">
                        <p>Evaluador {{ proyecto.evaluador1.nombre}}</p>
                    </div> -->
                    <hr>
                    <!-- 
                    SE OCULTARA LA ETIQUETA HTML 
                    SI EL EVALUADOR LOGEADO NO COINCIDE 
                    CON EL EVALUADOR CORRESPONDIENTE AL PROYECTO
                    -->

                    <div *ngFor="let criterio of proyecto.evaluador1.criterios">
                        <div class="row form group">

                            <div class="col-10 col-sm-9">
                                <p>{{ criterio.descripcion }}</p>
                            </div>

                            <div class="col-2 col-sm-3 text-right">
                                <div class="form-check form-check-inline">
                                    <p>{{criterio.puntajeAsignado}}</p>
                                </div>
                            </div>
                        </div>
                        <hr *ngIf="proyecto.evaluador1.estado == true">
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

<div class="row alert alert-warning mt-3 animated fadeIn faster" *ngIf="roleUser == 'admin'">
    <div class="col-12 text-center">
        <h1>Usuario no autorizado!!</h1>
        <br>
    </div>
    <div class="col-12 text-center">
        <button routerLink="/inicio" class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>
      Inicio
    </button>
    </div>
</div>