<app-header></app-header><br>

<div class="container">

    <div class="card-columns">

        <div *ngFor="let proyecto of proyectos; let i = index" class="card">

            <!-- <div *ngIf="proyecto.estado === true" class="card-body"> -->
            <div *ngIf="proyecto.estado === true && proyecto.evaluador1.email == userActivo" class="card-body">
                <h1 class="card-title">{{ proyecto.autor }}</h1>
                <h5 class="card-title">{{ proyecto.titulo }}</h5>
                <!-- <p class="card-text">{{ proyecto.id }}</p> -->
                <!-- <p class="btn btn-primary btn-block">{{ proyecto.estado }}</p> -->

                <button [routerLink]="['/calificacion', proyecto.id ]" type="button" class="btn btn-outline-primary btn-block">Calificar</button>
                <!-- <a [routerLink]="['/calificacion',i]" class="btn btn-outline-primary btn-block">Calificar</a> -->
            </div>
        </div>

    </div>

</div>