<app-header></app-header><br>


<div class="container" *ngIf="roleUser == 'admin'"> 
    
    <!-- <div>
      
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/areas" >Areas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/categorias">Categorias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/disertantes">Disertantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/evaluadores">Evaluador</a>
            </li>
        </ul>
    </div> -->
    
    <div class="row">
        <div class="col-lg-8 text-left">
            <h1><strong>Registro de área</strong></h1>
        </div>
        <div class="col-lg-4 text-right">
            <button class="btn btn-danger" routerLink="/areas">
                <i class="fa fa-arrow-left"></i>
                Regresar
            </button>
        </div>
    </div>
    <hr>
    
    <div class="row animated fadeIn faster">
        <div class="col">
            <!-- se llama al metodo guardar de heroe.componet.ts -->
            <form (ngSubmit)="guardar( f )" #f="ngForm">
    
                <div class="form-group">
                    <label>ID</label>
                    <input type="text" class="form-control" placeholder="ID" [(ngModel)]="carrera.id" name="id" disabled="disabled">
                    <small class="form-text text-muted">Este campo es autogenerado</small>
                </div>
    
    
                <div class="form-group">
                    <label>Descripción</label>
                    <input type="text" class="form-control" placeholder="Descripción de la carrera" [(ngModel)]="carrera.descripcion" name="descripcion" required>
                </div>
    
                <hr>
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-primary w-25">
                      <i class="fa fa-save"></i>
                      Guardar
                    </button>
                </div>
    
    
            </form>
    
    
        </div>
    
    </div>

</div>

<div class="row alert alert-warning mt-3 animated fadeIn faster" *ngIf="roleUser == 'evaluador'">
    <div class="col-12 text-center">
        <h1>Usuario no autorizado!!</h1>
        <br>
    </div>
    <div class="col-12 text-center">
        <button routerLink="/inicio" class="btn btn-danger">
      <i class="fa fa-arrow-left"></i>
      Inicio
    </button>
    </div>
</div>
